<head>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta property="fb:admins" content="100000009730750"/>
	<link href="https://gean.me/favicon.ico" rel="icon" type="image/x-icon"/>
	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<!-- Metatags Open Graph para Facebook -->
	<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:description" content="Nem sempre com finais felizes, mas sempre verdadeiras. Histórias de quem realmente sentiu algo sincero.">
	<meta property="og:image" content="https://source.unsplash.com/random/600x400/?love-couple">
	<!--<meta property="og:url" content="https://memories.geanramos.com.br/">-->
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Memories">	
	<!-- Metatags Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="Nem sempre com finais felizes, mas sempre verdadeiras. Histórias de quem realmente sentiu algo sincero.">
	<meta name="twitter:image" content="https://source.unsplash.com/random/600x400/?love-couple">
	<meta name="twitter:site" content="@geanramos">
	<!-- Metatags seo -->
	{% seo %}
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl | replace: '//', '/' }}">
	<!-- RSS -->
	<link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link rel="alternate" type="application/atom+xml" title="The Memories - Atom" href="https://feeds.feedburner.com/the-momories"/>
	<style>.embed-responsive { position: relative; overflow: hidden; width: 100%; padding-top: 56.25%; /* Proporção do vídeo (16:9) */ } .embed-responsive iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
	<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZBPFV014K"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
    dataLayer.push(arguments);
   }
   gtag("js", new Date());
   gtag("config", "G-TZBPFV014K");
  </script>
</head>
